[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
orator = "*"
requests = "==2.24.0"
pandas = "*"
numpy = "==1.19.3"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
